# ==========================
# Node Modules
# ==========================
backend/node_modules/
frontend/node_modules/

# ==========================
# Environment Files
# ==========================
backend/.env
frontend/.env

contact-manager-app-501210-400fd5ce4783.json
.terraform/
*.tfstate
*.tfstate.backup